body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:99.5vh;
  background-color: #055c63;
  overflow: hidden;
}

.box {
  background: #f5fafa;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 380px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 25px 5px #f5fafa;
}

.box h1 {
  font-size: 24px;
  color: #1a2324;
  font-family: system-ui;
  font-size: xx-large;
}

.box input[type="number"] {
  width: 10vw;
  padding: 10px;
  margin-bottom: 20px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #1a2324;
  outline: none;
  font-size: 16px;
  text-align: center;
  color: #1a2324;
  background-color: transparent;
}

.box input[type="number"]:focus {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
}

#show {
  margin-top: -10px;
  width: 190px;
  text-align: center;
  color: #1a2324;
  font-family: system-ui;
  transition: 1s ease 0.15s;
}

.scale {
  transform: scale(1.2);
  color: purple;
  transition: transform 1s ease 0.15s;
}

.box h6 {
  margin: 0;
  color: #1a2324;
  font-size: large;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  flex-wrap: wrap;
  border: 2px solidb black;
}

.box button {
  background-color: #1a2324;
  color: #f5fafa;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 1s ease 0.15s;
}

.box button:hover {
  background-color: #f5fafa;
  border: 1px solid #1a2324;
  color: #1a2324;
  outline: none;
  transition: 1s ease 0.15s;
}
